body {
  display: grid;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #e8728f;
  text-align: center;
}

nav {
  background-color: #eee;
  color: black;
  text-align: center;
  padding: 20px;
}

a {
  display: inline-block;
  margin-right: 20px; /* Ajuste o valor conforme necessário */
  font-size: x-large;
  color: black;
  font-weight: bold;
}

a:hover {
  background-color: #c97ba5;
}

section {
  display: grid;
  grid-template-columns: 200px 200px;
  justify-content: space-around;
  background-color: #e8728f;
  padding: 20px;
}

.produto {
  border-radius: 10px;
}

.produto:hover {
  transform: translateY(-5px); /* Elevação no hover */
}

h3 {
  text-align: center;
}

footer {
  text-align: center;
  color: black;
}
